@import 'https://fonts.googleapis.com/css?family=Fira Code:300,400,500';

h1 {
  font-family: "Courier New", Courier, monospace;
}

body {
    margin: 0 auto;
    max-width: 50em;
    line-height: normal;
}

.pregunta {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.respuesta {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

table {
  text-align: center;
}

th, td {
  border-color: #5b8080;
  border-style: ridge;
}

code,
pre {
  background: rgb(147, 144, 144);
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
  font-family: 'Fira Code', sans-serif;
  font-size: small;
}

pre {
  padding: 1em;
}

code,
pre {
  background: #2b2e30;
  color: #dee3ed;
}

pre {
  border-left: 5px solid rgb(59, 95, 132);
}