h1 {
  font-family: "Courier New", Courier, monospace;
}

body {
    margin: 0 auto;
    max-width: 50em;
    line-height: normal;
}
.pregunta {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.respuesta {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}
