<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>


<section class="section">
    <div class="container">
        <h1 class="title">
            Pretty Birds
        </h1>
    </div>
</section>

<%- include('includes/tail.ejs') %> 