<%- include('includes/head.ejs') %>
    <%- include('includes/navbar.ejs') %>


        <section class="section is-responsive">
            <div class="container">
                <h1 class="title">
                    Pretty Birds
                </h1>
                <div class="box">
                    Pretty Bird
                </div>
            </div>
        </section>
        <%- include('includes/tail.ejs') %>