<%- include('includes/head.ejs') %> 
<section class="section">
    <div class="container">
        <h1 class="title">
            My Cookie
        </h1>
    </div>
</section>

<%- include('includes/tail.ejs') %> 