
<%-include('includes/garbo/head.ejs')%>
<%-include('includes/garbo/navbar.ejs')%>
<section class="section">
    <div class="container">
        <h1 class="title">Sample page. Nothing here</h1>
    </div>
</section>
<%-include('includes/garbo/tail.ejs')%>