<%- include('includes/garbo/head') %>
<%- include('includes/garbo/navbar') %>
<h1 style="color: teal">PULPOS BAYBEE</h1>
<input class="input is-primary" type="text" placeholder="Primary input" value="pulpo-name">
<%- include('includes/garbo/tail') %>
