<%- include('includes/head.ejs') -%>
<%- include('includes/navbar.ejs') -%>
<div class="card">
    <header class="card-header">
        <p class="card-header-title">Ventajas MVC</p>
    </header>
        <div class="card-content">
            <div class="content">
                <ol>
                    <li>Escalable</li>
                    <li>Simplifica debuggear</li>
                    <li>Modularizable</li>
                </ol>
            <div />
        <div />
<div />
<%- include ('includes/tail.ejs') -%>