<%- include('includes/head.ejs') %>
    <%- include('includes/navbar.ejs') %>


        <section class="section is-responsive">
            <div class="container">
                <h1 class="title">
                    Pretty Birds
                </h1>
                <form>
                    <input class="box" placeholder="Input a bird" name="bird_name"></input>
                </form>
            </div>
        </section>
        <%- include('includes/tail.ejs') %>