h1 {
  font-family: "Courier New", Courier, monospace;
}

body {
    margin: 0 auto;
    max-width: 50em;
    line-height: normal;
}
.pulpo {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.pulpito {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

#gelatina:hover {
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  color: rebeccapurple;
}
