<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>

    <section class="section">
        <div class="container">
            <h1 class="title">Error 404:</h1>
            <h2 class="subtitle">Resource not found :(</h2>
        </div>
    </section>

    <section class="section">
        <a href="/home">
            <div class="button is-link is-responsive">
                <span class="text">
                    <span>Home</span>
                </span>
            </div>
        </a>
    </section>

    <%- include('includes/tail.ejs') %>